---
const cards = [
	{
		href:"https://docs.astro.build/",
		title:"Documentation",
		body:"Learn how Astro works and explore the official API docs.",
	},
	{
		href: "https://astro.build/integrations/",
		title: "Integrations",
		body: "Supercharge your project with new frameworks and libraries.",
	},
	{
		href: "https://astro.build/themes/",
		title: "Themes",
		body: "Explore a galaxy of community-built starter themes.",
	}
];
---

<main>
	{cards.map((card) => (
		// next line has following error: Unsafe return of an `any` typed value. eslint(@typescript-eslint/no-unsafe-return)
		<div>{card.href}</div>
	))}
</main>